@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

body{
    overflow-x: auto;
}

.text-shadow{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    text-shadow: 0px 2px 4px #BA55D3;
}

.button{
    background: #BA55D3;
    border-color: #BA55D3;
    box-shadow: 0 25px 25px rgba(186, 85, 211, 0.3);
}

.button:hover{
    background: transparent;
    border-color: #BA55D3;
    color: black;
}

.button:focus{
    outline: none;
}
.sign-up{
    border-color: #BA55D3;
    color: #BA55D3;
}

.sign-up:hover{
    background: #BA55D3;
    color: #fff;
}
.navbar-toggler:focus{
    outline: none;
    border: none;
}

.divider{
    width: 0;
    height: 80px;
    background: #EEEFF2;
    border: 1px solid #EEEFF2;
}

.icon{
    position: relative;
}

.fas {
    position: absolute;
    left: 37%;
    right: 35%;
    top: 35%;
    bottom: 10%;
    color: #BA55D3;
}

h3{
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
}

span{
    font-family: Rubik;
}

.features-header {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
}

.features-text{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

ul li {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    list-style-type: none;
}

.list-type{
    width: 20px;
    height: 20px;
    background: #BA55D3;
    border-radius: 4px;
    display: inline-block;
}
@media only screen and (max-width: 768px) {
    .button {
        box-shadow: 0 10px 10px rgba(186, 85, 211, 0.25);
    }
    .divider {
        margin: 20px auto;
        width: 70%;
        height: 0;
        background: #EEEFF2;
        border: 1px solid #EEEFF2;
    }
}

@media screen and (max-width:576px) {
    .features-header{
    font-size: 2rem;
}

    .features-text {
        font-size: 0.9rem;
    }

    ul li {
        font-size: 0.8rem;
    }
}